.idea

node_modules
build
.vs
samples/GetFacts/GetFacts/CellStore.dll
samples/GetFacts/GetFacts/Newtonsoft.Json.dll
samples/GetFacts/GetFacts/Program.exe
samples/GetFacts/GetFacts/RestSharp.dll
samples/GetFacts/GetFacts/bin
samples/GetFacts/GetFacts/obj
samples/GetFacts/.vs